*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  list-style: none;
  text-decoration: none;
  font-family: 'Esteban', serif;
}



.container .sideBar{
  position:fixed;
  width:250px;
  height:100%;
  background:#131931;
  color:white;
  text-align: center;
}


.container .sideBar ul li{
  padding: 40px;
  font-size: 20px;
  text-align: center;
}

.container .sideBar ul li:hover{
  background:#594f8d;
}

.container .sideBar ul li a{
  color:white;
  display: block;
}

.container .logo{
  margin-left:auto;
  margin-right: auto;
  width:100%;
}
.container .sideBar ul li:hover{
  background: #594f8d;
}

.container .mainContent{
  width:100%;
  display:grid;
  height:100%;
  margin-left:250px;
}

.container .mainContent .background{
  background-image: url("/your-dir/your_image.jpg");
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin-left:250px;
}

.container .mainContent .fas{
  position: absolute;
  margin: 0 5px;
  font-size:20px; 
  display:none;
}

.container .sideBar{
  height:100%;
}

.container .far{
  float: right;
  padding: 10px 10px;
  font-size: 30px;
  display:none;
}

.container .mainContent .profile{
  position:absolute;
  border-radius: 50%;
  height:30%;
  width:18%;
  border-image: 50%;
  overflow: hidden;
  display:block;
  margin-left: 35%;
  margin-top:20%;
  border: 2px solid white;
} 
.container .mainContent .caption{
  position: absolute;
  text-align:center;
  width:18%;
  display:inline-block;
  margin-left: 35%;
  margin-top: 41%;
  color:white;
}

.container .mainContent .caption p{
  margin-top:10px;
  line-height: 1.5;
  font-size: 20px;
}

/* Iphone */
@media screen and (max-width: 375px) {
  .container .sideBar {
    display: none;
  }
  .container .far {
    display: block;
  }
  .container .mainContent .background {
    margin-left: 0px;
  }
  .container .mainContent .fas {
    display: block;
  }
  .container .mainContent {
    margin-left: 0px;
  }
}

/* iphone plus */
@media screen and (max-width: 414px) {
  .container .sideBar {
    display: none;
  }
  .container .far {
    display: block;
  }
  .container .mainContent .background {
    margin-left: 0px;
  }
  .container .mainContent .fas {
    display: block;
  }
  .container .mainContent {
    margin-left: 0px;
  }
}

/* ipad */
@media screen and (max-width: 811px) {
  .container .sideBar {
    display: none;
  }
  .container .far {
    float: right;
    padding: 10px 10px;
    font-size: 30px;
    display: block;
  }
  .container .mainContent .background {
    margin-left: 0px;
  }
  .container .mainContent .fas {
    display: block;
  }
  .container .mainContent {
    margin-left: 0px;
  }
}

/* ipad pro */
@media screen and (max-width: 1024px) {
  .container .sideBar {
    display: none;
  }
  .container .far {
    float: right;
    padding: 10px 10px;
    font-size: 30px;
    display: block;
  }
  .container .mainContent .background {
    margin-left: 0px;
  }
  .container .mainContent .fas {
    display: block;
  }
  .container .mainContent {
    margin-left: 0px;
  }
}

